* {
  color: #000000;
  font-family: "Golos Text";
}

.profile_photo {
  height: 322.35px;
  width: 322.35px;
  border-radius: 2px;
} 

.profile_about {
  line-height: 18px;
  font-size: 15px;
  font-weight: 400;
}

.profile_counter {
  border-radius: 5px;
  border: none;
}

.profile_man {
  height: 123px;
  border-radius: 16px;
  width: 123px;
}

.profile_surname {
  line-height: 32px;
  font-size: 32px;
  font-weight: 500;
}

